In [1]:
# exersice of pandas

In [6]:
from pandas import DataFrame
from pandas import Series

data_1 = {'state' : ['VA', 'VA', 'VA', 'MD', 'MD'],
          'year' : [2012, 2013, 2014, 2014, 2015],
          'pop' : [5.0, 5.1, 5.2, 4.0, 4.1],
          'happiness' : [3, 4, 6 ,6, 8]}

df1 = DataFrame(data_1)

Index(['happiness', 'pop', 'state', 'year'], dtype='object')

In [5]:
df2 = DataFrame(data_1, columns=['state','pop','year','happiness','vote'])
df2['vote'] = Series([1,2,3,4,5])
df2

  state  pop  year  happiness  vote
0    VA  5.0  2012          3     1
1    VA  5.1  2013          4     2
2    VA  5.2  2014          6     3
3    MD  4.0  2014          6     4
4    MD  4.1  2015          8     5

In [10]:
df3 = DataFrame(data_1, columns=['pop'])
nc = Series([5,5,5],index=[1,2,3])
df3['nc'] =  nc
df3

   pop  nc
0  5.0 NaN
1  5.1   5
2  5.2   5
3  4.0   5
4  4.1 NaN